
.cf-icon-megaphone:before { content: '\e800'; } /* '' */
.cf-icon-ok:before { content: '\e801'; } /* '' */
.cf-icon-dots:before { content: '\e802'; } /* '' */
.cf-icon-cancel:before { content: '\e803'; } /* '' */
.cf-icon-plus-1:before { content: '\e804'; } /* '' */
.cf-icon-unhappy:before { content: '\e805'; } /* '' */
.cf-icon-users:before { content: '\e806'; } /* '' */
.cf-icon-thumbs-up:before { content: '\e807'; } /* '' */
.cf-icon-left-dir:before { content: '\e808'; } /* '' */
.cf-icon-heart:before { content: '\e809'; } /* '' */
.cf-icon-minus:before { content: '\e80a'; } /* '' */
.cf-icon-plus:before { content: '\e80c'; } /* '' */
.cf-icon-down-open:before { content: '\e80d'; } /* '' */
.cf-icon-up-open:before { content: '\e810'; } /* '' */
.cf-icon-attention:before { content: '\e817'; } /* '' */
.cf-icon-link:before { content: '\e818'; } /* '' */
.cf-icon-spin:before { content: '\e838'; } /* '' */
.cf-icon-copy:before { content: '\f0c5'; } /* '' */
.cf-icon-menu:before { content: '\f0c9'; } /* '' */
.cf-icon-help:before { content: '\f128'; } /* '' */