
a,
.dark-blue {
  /* color: #a96d01; */
  color: #22405f;
}

a:hover,
a.hovered,
.red {
  /* color: #764c01; */
  color: #f03b5d;
}
a[href^="mailto"]:hover,
a[href^="mailto"]{
  color: #22405f;
  font-weight: bold;
}
a[href^="mailto"]:hover {
  color: #f03b5d;
}

/* User Profile registration, view and edit styles */
#dropdown_jform_cf_iam {
  padding-right: 0px;
  padding-left: 0px;
}

/* Main menu */
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  /* color: #a96d01; */
  color: #224160;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #e7ebee;
}

.sp-menu-item:hover,
.sp-menu-item.active,
#sp-left ul.nav.menu > li:hover,
#sp-left ul.nav.menu > li.active,
.contacts-btn-send:hover
{
  background-color: #e7ebee !important;
  -webkit-transition: all 0.5s cubic-bezier(0.63, 0.28, 0.46, 0.88);
  transition: all 0.5s cubic-bezier(0.63, 0.28, 0.46, 0.88);
}
#sp-left .nav.menu > li {
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 12px;
  text-align: center;
  max-width: 135px;
  line-height: 30px;
}

.nav > li > a {
  padding: 0 20px;
  margin: unset;
}

#sp-footer > .container,
#sp-bottom > .container,
#sp-bottom1,
#sp-footer1 {
  padding: unset;
}


.layout-boxed .body-innerwrapper {
  background: #ffffff;
}

.sp-module .latestnews >div >a {
  color: #777777;
}
.pagination>li>a,
.pagination>li>span {
  color: #757f8a;
  font-size: 1.1rem;
  padding: 1rem 1.4rem 1rem 1.4rem;
}

ul.pagination > li >a.first,
ul.pagination > li >a.last{
  font-weight: bold;
  padding: 0.5rem 1.4rem 0.5rem 1.4rem;
  font-size: 1.8rem;
}
ul.pagination > li >a.previous,
ul.pagination > li >a.next{
  font-weight: bold;
  padding: 0.5rem 1.4rem 0.5rem 1.4rem;
  font-size: 1.8rem;
}

.pagination>.active>a,
.pagination>.active>span {
  background-color: #224160;
  color: #ffffff;
  font-weight: bold;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  background-color: #224160;
  color: #ffffff;
  font-weight: bold;
}

ul.multiselect-container.dropdown-menu > li.multiselect-reset {
  background-color: #ffffff;
  padding: 5px 0;
}

ul.multiselect-container.dropdown-menu > li.multiselect-reset a {
  color: #ee405c;
  font-weight: bolder;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label
{
  color: #f03b5d;
}
.has-error input{
  border-color: #f03b5d !important;
}


/** Network box view **/
.offer-network-box {
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-flex;
  margin-left: 15px;
}
/** Error messages **/
#error-modal .modal-footer button {
  margin: 0 5px;
}


/** User Profile -> Offer Alerts : styles  **/
.offer-alerts-body article {
  margin: 10px 0px;
}
.offer-alerts-body .offer-name {
  line-height: 16px;
}
.offer-alerts-body .om-delete:before,
.subscriptions-body .om-delete:before {
  vertical-align: middle;
}

.offer-alerts-head,
.subscriptions-body{
  padding-left: 15px;
  padding-right: 15px;
}

.save-btn {
  padding-top: 4px;
  padding-bottom: 4px;
}
/** User Profile -> Subscriptions : styles  **/
.addnetwork-btn-box,
.addvertical-btn-box {
  padding: 15px;
}
.subscriptions-body .list-add-network.row,
.subscriptions-body .list-add-vertical.row {
 margin-top: 5px;
 margin-bottom: 5px;
}
.subscriptions-body .list-add-vertical.row {
  padding: 0 20px;
}
.nmr.om-delete,
.vmr.om-delete {
  margin-left: 10px;
}
/**
    -> drop downs
 */
#dropdown_jform_adnetlist,
#dropdown_jform_vertlist {
  display: none;
  padding: 0;
}
/** Mobile Definitions */
@media (max-width: 767px) {
  /** logo mobile max sizing */
  #sp-header .logo {
    max-width: 250px;
  }
  #sp-main-body {
    /*  parts : 100% - header - search - breadcrumb - bottom menu - footer) */
    min-height: calc(100vh - 90px - 182px - 120px - 65px);

  }

  /* Bottom menu resizing */
  .menu_bottom {
    display: list-item !important;
    text-align: center;
  }
  .menu_item_bottom {
    padding: 0px 0px !important;
    margin: 0px 0px !important;
  }

  #dropdowns-container > div > div,
  #dropdowns-container > div > span > div {
    margin: 2.1rem 0px 0px 0px;
  }
  .dropdown-button {
    margin: 0 0 0 0;
    padding: 0;

  }

  .ml-xs-0 {
    margin-left: -5px;
  }
  .mr-xs-0 {
    margin-right: -5px;
  }
  .mb-xs-0 {
    margin-bottom: -5px;
  }
  .mt-xs-0 {
    margin-top: -5px;
  }
  .m-xs-0 {
    margin: 0px;
  }

  /* pagination positioning  */
  .pagination-align {
    text-align: center;
  }
  .pagination-line {
    min-height: 3rem;
  }
  .pagination-line div.results_offset  {
    padding: 0px;
    margin: 0px;
    text-align: left;
  }
  .no-results-article {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  /*#sp-search-area >.container>.row,*/
  article.row.Rtable-row {
    margin-right: 0px;
    margin-left: 0px;
  }
  #sp-header .logo a {
    font-size: 24px;
    line-height: 1;
    margin: 0;
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
  }

  /** template left right side definitions */
  form.adnet_search_form,
  form.ofrs-srch-form {
    margin: 40px 10px 0 10px;
  }
  form.adnet_search_form {
    margin-bottom: 20px;
    /*padding-right: 20px !important;*/
  }
  .adnet-srch-form {
    margin: unset;
  }
  #filters-buttons-xs {
    padding: 5px 0;
    margin: 0 -20px;
  }

  section.offer-content {
    margin: 0 -15px 0 15px;
  }
  section#adnet-content {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  #sp-bottom1 {
    margin-bottom: unset;
  }

}
