.ptp-sync
.ptp-sync-folder
.project
*.ptp-sync/*
*.ptp-sync-folder/*
.settings/
.idea/*

images/lp_thumbnails/
/configuration.php
administrator/cache/*
administrator/logs/*
cache/*
cache/*/*
tmp/
images/*
