@charset "UTF-8";

@font-face {
  font-family: "offermonster";
  src:url("../fonts/offermonster.eot");
  src:url("../fonts/offermonster.eot?#iefix") format("embedded-opentype"),
  url("../fonts/offermonster.woff") format("woff"),
  url("../fonts/offermonster.ttf") format("truetype"),
  url("../fonts/offermonster.svg#offermonster") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "offermonster" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="om-"]:before,
[class*=" om-"]:before {
  cursor: pointer;
  font-family: "offermonster" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.om-eye-open:before {
  content: "\61";
}
.om-eye-invisible:before {
  content: "\65";
}
.om-dollar2:before {
  content: "\66";
}
.om-account:before {
  content: "\68";
}
.om-dollar:before {
  content: "\62";
}
.om-eyedollar:before {
  content: "\63";
}
.om-info:before {
  content: "\64";
}
.om-network:before {
  content: "\67";
}
.om-delete:before {
  content: "\69";
}
